:root {
    /* Global CSS variables */
    /* COLORS */
    --clr-primary-header: #222c2a;
    --clr-primary-body: #f2f2f2;
    --clr-secondary-body: #ccc;
    --clr-secondary-body-400: #2196F3;

    --clr-text: white;

    --clr-button: #04AA6D;

    /* Hover effects */
    --clr-title-hover: #222c2a;
    --clr-button-hover: #45a049;
    --clr-link-hover: #480ca8;

    --clr-errors: red;

    /* FONTS */
    --ff-primary: Arial, Helvetica, sans-serif;
}

* {
    /* sets how the total width and height of an element is calculated */
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family:var(--ff-primary);
    margin: 0;
    padding: 0;
}

/* --------------- */
/* GENERAL CLASSES */
/* --------------- */

.text-left {
    text-align: left;
}

.link-small {
    font-size: 0.75rem;
}

/* --------- */
/*   LINKS   */

/* H2 */
/* H2 Links */
.link-h2, .link-h3 {
    text-decoration: none;
    color: var(--clr-title-hover);
    padding-left: 0;
}

.link-h2:hover, .link-h3:hover  {
    color: var(--clr-title-hover);
}

/* PARAGRAPHS */
.link-paragraph-inline {
    display: inline-block;
    padding: 0;
}

.no-underline {
    color: royalblue;
    text-decoration: none;
}

/* ----------- */
/*    IMAGES   */
/* ----------- */

figure {
    width: 100%;
    margin: 1.5rem 0;
}

figcaption {
    font-style: italic;
    font-size: 0.85rem;
    text-align: center;
}

img {
    cursor: pointer;
    transition: 0.3s;
}

img:hover {
    opacity: 0.7;
}

.container-img {
    width: 100%;
}

/* --------- */
/*   Modal   */

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* sit on top */
    padding-top: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    cursor: auto;
    /* max-width: 70rem; */
}

.modal-content:hover {
    opacity: 1;
}

#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 40rem;
    text-align: center;
    color: var(--clr-secondary-body);
    padding: 1rem 0;
    height: 3rem;
}

/* Add animation, zoom in the modal */
.modal-content, #modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* close button */
.close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: var(--clr-secondary-body);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

/* ----------- */
/* MAIN HEADER */
/* ----------- */

.primary-header {
    background-color: var(--clr-primary-header);
}

#homepage-link {
    /* background-color: var(--clr-primary-header); */
    color: var(--clr-text);
    text-align: left;
    margin-bottom: 2.5rem;
    font-size: 1rem;
    text-decoration: none;
}

.mainpage-link {
    font-size: 1.25rem;
}

/* ---------------- */
/* CALCULATOR TITLE */
/* ---------------- */

.calculator-header {
    margin: auto;
    width: 90%;
    text-align: center;
}

/* h2 {
    width: 90%;
    text-align: center;
} */

/* -------------- */
/* FORM SELECTORS */
/* -------------- */

fieldset {
    margin: 1rem auto;
    border: none;
    width: 95%;
    border-top: 1px solid #999;
}

select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    resize: vertical;
    margin-top: 0;
    /* font-size: 1rem; */
}

input[type=number] {
    width: 9.5rem;
    padding: 0.5rem;
    margin-left: 0.75rem;
    border: 1px solid var(--clr-secondary-body);
    border-radius: .25rem;
    resize: vertical;
    margin-top: .5rem;
    /* font-size: 1rem; */
}

input[type=number].invalid {
    border: 1.5px solid var(--clr-errors);
    color: var(--clr-errors);
    /* border-color: red; */
}

input[type=radio] {
    margin-left: 0.75rem;
}

label {
    padding: 0.75rem 0.75rem 0.75rem 0.7rem;
}

button {
    background-color: var(--clr-button);
    color: var(--clr-text);
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    /* float: right; */
    margin-top: 0.25rem;
    /* font-size: 1rem; */
}

a {
    display: block;
    /* font-size: 0.75rem; */
    padding: 0.25rem 0.75rem;
    /* text-decoration: none; */
    color: var(--clr-secondary-body-400);
    width: fit-content;
}

a:hover {
    color: var(--clr-link-hover);
}

/* ------------ */
/* FORM CLASSES */
/* ------------ */

.container {
    width: 30%;
    margin: 1rem auto;
    border-radius: 0.25rem;
    background-color: var(--clr-primary-body);
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
}

.col-60 {
    vertical-align: top;
    text-align: left;
    width: 60%;
    margin-top: .25rem;
    display: inline-block;
    padding-top: 0.75rem;
}

.col-40 {
    /* float: left; */
    text-align: left;
    width: 39%;
    margin-top: .25rem;
    display: inline-block;
    border: none;
    border-radius: 5px;
}

.div-btn-calc {
    margin: 0.5rem auto;
    width: 95%;
    border-top: 1px solid #999;
    padding: 1rem 0;
}

/* ------ */
/* ERRORS */
/* ------ */

/* Tipo abitazione */

#missingTipoAbitazione {
    display: none;
    font-size: 0.8rem;
}

#missingTipoAbitazione.visible {
    display: block;
    margin-left: 0.75rem;
    color: var(--clr-errors);
}

.tipo-abitazione-missing {
    border: 2px solid var(--clr-errors)
}

/* Prezzo/Rendita catastale */

#nameError {
    display: none;
    font-size: 0.8rem;
}

#nameError.visible {
    display: block;
    margin-left: 0.75rem;
    color: var(--clr-errors);
}

#inputNegative {
    display: none;
    font-size: 0.8rem;
}

#inputNegative.visible {
    display: block;
    margin-left: 0.75rem;
    color: var(--clr-errors);
}

.missing {
    border: 1.5px solid var(--clr-errors);
}

/* ------------------------- */
/* PERSONALISED RADIO-BUTTON */
/* ------------------------- */

.label-radio {
    margin-top: 1.75rem;
}

.radio-container {
    margin-left: 0.75rem;
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
}

.radio-container input {
    /* Hide the browser's default radio button */
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create custom radio-button */

.checkmark {
    position: absolute;
    top: .75rem;
    left: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--clr-text);
    border: 1px solid var(--clr-secondary-body);
}

/* On mouse-over, add a grey background color */

.radio-container:hover input~.checkmark {
    background-color: var(--clr-secondary-body);
}

/* When the radio button is checked, add a blue background */

.radio-container input:checked~.checkmark {
    background-color: var(--clr-secondary-body-400);
}

/* ------------------------- */
/* ------------------------- */

/* ------------- */
/* TABLE RESULTS */
/* ------------- */

.result-table {
    width: 95%;
    font-size: 1rem;
    margin: 1rem auto;
    border-collapse: collapse;
}

td {
    padding: 0.75rem 0.75rem;
    text-align: left;
    /* border: 1px solid #999; */
}

th {
    padding: 0.75rem 0.75rem;
    text-align: left;
    font-size: 1.05rem;
}

.left-col {
    padding-left: 1.5rem;
}

.for-valore-catastale {
    margin-top: 20px;
}

.td-amount {
    width: 40%;
    text-align: right;
    padding-right: 1.5rem;
}

.row-total-amt {
    font-size: 1.1rem;
    font-weight: bold;
    border-top: 1px solid #999;
}

#riepilogo-imposte {
    border-bottom: 1px solid #999;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

#btn-calc:hover {
    background-color: var(--clr-button-hover);
}

#btn-reset:hover {
    background-color: var(--clr-button-hover);
}

@media screen and (max-width: 1600px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 90%;
    }
    .col-60, .col-40, input[type=submit] {
        width: 100%;
    }
    /* #div-results {
        width: 90%;
    } */
}

@media screen and (max-width: 352px) {
    html {
        font-size: 0.75rem;
    }
}