@import '../main.css';

.container-paragraph {
    margin: auto;
    width: 65%;
    text-align: justify;
    line-height: 1.5;
}

.table-contents {
    font-size: 1rem;
    color: var(--clr-secondary-body-400);
}

.table-contents ::marker {
    color: var(--clr-secondary-body-400);
}